.map-icon-delete
{
    font-size: 30px !important;
    color : #ff002e  !important;
}

.map-icon-create
{
    font-size: 30px !important;
    color : #eac50f !important;
}

.map-icon-edit
{
    font-size: 30px !important;
    color : #121492 !important;
}


.map-icon-save
{
    font-size: 30px !important;
    color : #57ff1d !important;
}





.easy-button-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}
.leaflet-bar button
{
    background-color: transparent;
}

.easy-button-button {
    margin  : 0 !important;
    padding  : 0 !important;
}

.leaflet-control-fullscreen
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.leaflet-bar a, .leaflet-bar a:hover
{
    background-color: transparent;
}
.leaflet-bar a:hover
{
    background-color: transparent;
}

.leaflet-control-fullscreen
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}
.leaflet-fullscreen-on .leaflet-control-fullscreen a
{
    background-position: 0;
}