.navbar-collapse {
    padding-left: 1.5rem;
}

.navbar {
    min-height: 0;
}

.box-body {
    padding-top: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #d2d6de 1px;
}

.select2-container--default .select2-selection--multiple {
    background-color: #f4f4f4 !important;
}

/* mapping css */
.textLabelclass {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1em;
    font-family: "Fira Sans", sans-serif;
    text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em black,
        0 0 0.1em black, 0 0 0.1em;
    color: white;
}

.baselayer_btn {
    border-radius: 50%;

    border: 3px solid #ffda44;
    filter: grayscale(100%);
}

.baselayer_btn.active {
    border-radius: 50%;

    border: 3px solid #b2ff59;
    filter: grayscale(0%);
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.flex {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmodalcontainer {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.cmodalcontainer.active {
    display: block;
}

.cmodal {
    position: absolute;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.cmodali {
    position: absolute;
}

.cmodal.active {
    display: block;
}

.cmodal .content {
    height: 250px;
    overflow: auto;
}

.cmodal .close {
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0;
    color: #999;
    font-size: 40px;
}

.cmodal .close span {
    transform: rotate(45deg);
    display: block;
    color: white;
}

.cmodal .buttons {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #fff;
}

.cmodal .buttons a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    background-color: #eee;
    color: #4d5c6e;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.cmodal .buttons a:hover {
    background-color: #e1e1e1;
}

.cmodal .buttons a:nth-of-type(2) {
    float: right;
    color: #fff;
    background-color: #e25049;
}

.cmodal .buttons a:nth-of-type(2):hover {
    background-color: #be4649;
}

.cmodalbttn {
    background-color: #24252a;
    padding: 12px 25px;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.cmodalbttn:hover {
    background-color: #2b2c32;
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}

img {
    opacity: 1;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 16px !important;
}

.btn {
    padding: 0.429em 1em;
}

.box-header {
    text-align: center !important;
    background-color: #dee8ed;
    ;
}

.m-content {
    background: #ffffff !important;
}

label {
    margin-bottom: 0.15rem;
}


.form-group {
    margin-bottom: 0 !important;
}

.btn {
    margin-top: 8px;
}


/* file upload button  */
.container {
    margin-top: 20px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}


/* modal change dimensions */
.m-modal-dim {
    width: 1080px !important;
    max-width: 1080px !important;

}


/*  steps design  */
.wizard-content .wizard.wizard-circle > .steps .step
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


label{
    font-family: "m-Lato-font";
}



.select2-container .select2-selection--single {
    height: 22px !important;
}


.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    margin-top: -5px !important;

    border-color: #647585 transparent transparent transparent !important;

}


.select2-container--default .select2-selection--single .select2-selection__rendered
{
    color: #2d353c !important;
}


.navbar-nav .nav-link
{
    padding-bottom: 0.5rem !important;
}


.form-control
{
    height: 22px !important;
    font-size: 13px !important;
}

.input-group-addon
{
    padding: .10rem .5rem;
}

h1,h2,h3,h4,h5,h6
{
    font-family: m-Lato-font !important;
    margin-bottom: 1px !important;
    margin-top: 8px !important;
    color: #ffb22b !important
}

.pad {
    padding:0 !important;
}

th
{
    background-color: #b6b8b3  !important;
    color: #fff !important;
}


.skin-blue .customtab li a.nav-link.active
{
    border-bottom: 2px solid #8a8b88 !important;
}

.nav-tabs .nav-link.active
{
    background-color: #8a8b88;
}

.box
{
    background: #ffffff;
}

.bg-secondary-gradient
{
    background: linear-gradient(230deg, #fff, #fff) !important;
}

.wrapper
{
    background-color: #fff !important;
}

.wrapper
{
    box-shadow: 0 1px 3px 1px rgba(255, 255, 255, 1) !important;
}



